<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
    <meta lang="pt">
</head>

<body>
    <h1>Welcome to...</h1>
    <img alt="Taco Image" th:src="@{/TacoCloud.png}"/>

    <h3>Designate your wrap: </h3>
    <div th:each="ingredient : ${wrap}">
        <input th:type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}"/>
        <span th:text="${ingredient.name}"></span>
    </div>

</body>
</html>